[submodule "vim-powerline"]
	path = vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vitality.vim"]
	path = vitality.vim
	url = https://github.com/sjl/vitality.vim.git
[submodule "vim-commentary"]
	path = vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "YouCompleteMe"]
	path = YouCompleteMe
	url = ./YouCompleteMe
[submodule "ack.vim"]
	path = ack.vim
	url = ./ack.vim
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = ./ctrlp.vim
[submodule "nerdtree"]
	path = nerdtree
	url = ./nerdtree
[submodule "nvim"]
	path = nvim
	url = ./nvim
[submodule "tagbar"]
	path = tagbar
	url = ./tagbar
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = ./vim-colors-solarized
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = ./vim-fugitive
[submodule "vim-misc"]
	path = vim-misc
	url = ./vim-misc
[submodule "vim-notes"]
	path = vim-notes
	url = ./vim-notes
[submodule "vim-solidity"]
	path = vim-solidity
	url = ./vim-solidity
[submodule "rust.vim"]
	path = rust.vim
	url = ./rust.vim
